// / * About page */
.about {
   margin-bottom: 168px;
}

.about__irren {
   width: 100%;
   max-width: 1320px;
   padding: 0 20px;
   margin: 0 auto;
}

.about .container {
   margin: 0;
   padding: 116px 85px;
   border-radius: 10px;
   background-image: url(../img/about.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min--moz-device-pixel-ratio: 2),
	only screen and (-o-min-device-pixel-ratio: 2/1),
	only screen and (min-device-pixel-ratio: 2),
	only screen and (min-resolution: 192dpi),
	only screen and (min-resolution: 2dppx) {
   .about .container {
		background-image: url('../img/about2x.jpg');
	}
}



.about__heading {
   width: 100%;
   max-width: 493px;
   margin-top: 0;
   margin-bottom: 24px;
   font-family: 'Fraunces';
   font-style: normal;
   font-weight: 900;
   font-size: 40px;
   line-height: 48px;
   color: #FEFCF7;
}

.about__paragraph {
   width: 100%;
   max-width: 445px;
   margin-top: 0;
   font-family: 'Barlow';
   font-size: 16px;
   line-height: 26px;
   color: #FEFCF7;
}

@include media-max(400px) {

   .about .container {
      padding: 116px 24px;
      background-image: url(../img/about-mob.jpg);
   }

   .about__heading {
      font-size: 28px;
      line-height: 28px;
      text-align: center;
   }

   .about__paragraph {
      font-size: 15px;
      line-height: 25px;
      text-align:center;
      
   }
}