/* commintment */

.commintment {
   margin-bottom: 168px;
  }
  
  .commintment .container {
     margin-left: 85px;
     display: flex;
     align-items: center;
  }
  
  .commintment__img {
     margin-right: 125px;
  }
  
  .commintment__heading {
     margin-top: 0;
     margin-bottom: 32px;
     font-family: 'Fraunces';
     font-weight: 900;
     font-size: 40px;
     line-height: 48px;
     color: #333D4B;
  }
  
  .commitment_paragraph {
     width: 540px;
     margin-top: 0;
     font-family: 'Barlow';
     font-style: normal;
     font-weight: normal;
     font-size: 16px;
     line-height: 26px;
     color: #333D4B;
     opacity: 0.8;
  }