.header .container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 43px 20px;
}

.header__logo {
   flex-shrink: 0;
   margin-right: 20px;
}

.nav__list {
   margin: 0;
   padding: 0;
   display: flex;
   align-items: center;
   flex-wrap: wrap;
}

.nav__item+.nav__item {
   margin-left: 32px;
}

.nav__link {
   font-family: 'Barlow';
   font-weight: bold;
   font-size: 12px;
   line-height: 15px;
   letter-spacing: 0.923077px;
   text-transform: uppercase;
   color: #83888F;
   transition: color 0.3s ease;
}

.nav__link:hover {
   color: #333D4B;
}

.nav__link--active {
   color: #333d4b;
}

.humburger {
   display: none;
   flex-shrink: 0;
   background-color: transparent;
   border: none;
}

@include media-max(601px) {
   
   .nav__right {
      display: none;
   }

   .humburger {
      z-index: 101;
      display: block;
   }
   
   .humburger__close {
      display: none;
   }

   .header--open .nav {
      position: fixed;
      z-index: 100;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(
			180deg,
			rgba(254, 252, 247, 0.504981) 0%,
			#fefcf7 55.94%
		);
   }

   .header--open .nav__list {
      flex-direction: column;
      justify-content: center;
   }

   .nav__item + .nav__item {
      margin-left: 0;
      margin-top: 32px;
   }

   .header--open .humburger__open {
      display: none;
   }

   .header--open .humburger__close {
      display: block;
   }
}


