.subscribe__works {
   margin-bottom: 168px;
}

.subscribe__works .container {
   width: 1280px;
   height: 653px;
   margin: 0 auto;
   padding: 91px 150px 107px 85px;
   background: #2C343E;
   border-radius: 10px;
}

.works__round--bg {
   background: #2C343E;
}

.works__heading--color {
   color: #FEFCF7;;
}

.works__paragraph--color {
   color: #FEFCF7;
}